<?xml version="1.0" encoding="UTF-8"?>
<!-- inspired by https://github.com/eugenp/tutorials/blob/master/logging-modules/log4j/src/main/resources/log4j2.xml-->
<Configuration status="INFO">
  <Appenders>
    # Console appender
    <Console name="stdout" target="SYSTEM_OUT">
      # Pattern of log message for console appender
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </Console>

  </Appenders>
</Configuration>